ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Öğeleri dikey eksende hizala */
}

.price {
    margin-left: 10px;
    color: rgb(70, 126, 44);
    font-size: 22px;
}

.product-info {
    display: flex;
    flex-direction: row;
}
.total{
    color: rgb(70, 126, 44);
}
