.top {
  background-color: #e3dede; }

.header {
  background-color: #e3dede;
  padding: 10px;
  text-align: left; }
  .header img {
    max-width: 100%;
    height: auto; }

.sepet {
  background-color: #e3dede;
  display: flex;
  margin-right: 30px;
  justify-content: flex-end; }

.two {
  display: flex;
  justify-content: flex-end; }

.sepet_cover {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  /* Yatayda ve dikeyde hizala */
  position: relative; }

.sepet_Length {
  text-decoration: none;
  outline: none;
  font-weight: bold;
  color: blue;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  position: absolute; }
